[submodule "Deps/entt"]
	path = Deps/entt
	url = https://github.com/saffronjam/entt.git
[submodule "Deps/imgui"]
	path = Deps/imgui
	url = https://github.com/saffronjam/imgui.git
	branch = docking
[submodule "Deps/SFML"]
	path = Deps/SFML
	url = https://github.com/saffronjam/SFML.git
[submodule "Deps/spdlog"]
	path = Deps/spdlog
	url = https://github.com/saffronjam/spdlog.git
